{% extends 'base.html.twig' %}

{% block title %}FAQs{% endblock %}

{% block body %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

.body-container{
  display: flex;
  justify-content: center;
  background-color:  #0d6efd;
}
.content-wrapper{
  width: 1173px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:10px 10px 10px 10px;
  border: 2px solid #0d6efd ;
  border-radius: 5px;
  background-color: orange;
}
.h1-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}
#h1-title{
  text-align:center;
  color: #0d6efd;
}

.h2-title{
  margin: 20px 0 20px 0;
}

h2{
  color: #0d6efd;
}


</style>

{# Body Section #}
<div class = "body-container">
 <div class = "content-wrapper">

 <div class = "h1-wrapper">
  <h1 id="h1-title">Privacy Policy</h1>
 </div>

 <div class = "paragraph-wrapper">
  <p id ="paragraph-1">
  The privacy policy will explain how the cosmetics company receives, uses and (in some cases) discloses your personal information. The policy will also explain the steps it takes to keep customers' personal information secure. Finally, the privacy policy will explain your choices regarding the collection, use and disclosure of your personal information.
  </p>
 </div>

 <div class = "paragraph-wrapper">
  <p id ="paragraph-2">
  Securing your personal data and building your trust is very important to us. Therefore, Electro Shop will use your name and other information related to you in accordance with the content of the privacy policy. They only collect necessary information related to the purchase and sale transaction.
  </p>
 </div>
 
 <div class = "paragraph-wrapper">
  <p id ="paragraph-3">
  They will keep customer information for as long as required by law or for any other purpose. You can access the web and browser without having to provide personal details. At that time, you are anonymous and they cannot know who you are if you are not logged into your account.
  </p>
 </div>

  <div class = "details-wrapper">
  <h2 class="h2-title">
  <strong>1.Personal Information Collection</strong>
  </h2>
  <p>We will collect various information about you when you want to place an order on the website.</p>

  <p>We collect, store and process your information for the purchase process, for notifications
  later and to provide services. We do not limit personal information: title, name, gender,
  date of birth, email, address, shipping address, phone number, fax, payment details, payment details
  Pay by card or bank account details.</p>

  <p>We will use the information you have provided to process orders, provide services and information
  request through the website and at your request. We may transfer names and addresses to third parties
  three for them to deliver to you (for example to a courier or supplier).</p>

  <p>Online payments will be processed by our international network agents. You just
  give us or its agent or website accurate information,
  not cause confusion and must notify us of any changes.</p>

  <p>Your order details are kept by us but for security reasons we do not disclose them
  can be declared directly. However, you can access the information by logging into your account on the page
  <strong>web</strong> <strong>Electro Store</strong>. Here you will see your order details
  yourself, the products received and those sent and the email, bank and newsletter details you ordered
  long-term follow-up. You are committed to the confidentiality of your personal data and may not disclose it to third parties. They
  I do not accept any responsibility for the misuse of the password if this is not our fault.</p>

  <p>We may pass on your information to other companies in the group. We can pass on
  your information to agents and subcontractors within the framework of this privacy policy. Example: We
  third-party delivery, payment collection, data analysis, marketing, and customer service support.
  We may exchange information with third parties for fraud prevention and credit risk reduction purposes. In
  under the privacy policy, we do not sell or disclose your personal data to third parties without
  prior consent unless this is required for the terms of this privacy policy or we are required to
  must do so in accordance with the law.</p>
  </div>

  <div class = "details-wrapper">
  <h2 class="h2-title">
  <strong>2.Use of Cookies</strong>
  </h2>

  <p>A cookie is a small text file that uniquely identifies your username from your computer to our servers
  when you visit certain pages on the website and is stored by your internet browser on your hard drive. your
  computer. Cookies are used to identify IP addresses, save time. We use cookies to facilitate your access to
  the website (for example, remember your username when you want to change your shopping cart without having 
  to re-enter your email address) and do not ask for any information. about you (e.g. advertising objective). 
  Your browser may be set not to use cookies, but this will limit your use of the website. Please accept our 
  commitment that cookies do not include any private personal details and are safe from viruses.</p>

  <p>This browser uses Google Analytics, a web analytics service provided by Google, Inc.
  (“Google”). Google Analytics uses cookies, which are text files placed on your computer, to help the Electro Store website
  analyze how users enter the site. Information gathered from cookies will be transmitted to and stored by Google
  on servers in the United States. Google will use this information to evaluate your use of the website, prepare reports on
  activities on the website for website operators and providing other services related to internet activities
  and internet usage.</p>

  <p>Google may also transfer this information to third parties as required by law or to third parties that process information
  on Google's behalf. Google will not associate your IP address with any other data that Google holds. You may refuse to use cookies 
  by selecting the appropriate settings on your browser, however note that this will prevent you from using the full functionality of 
  the website. By using this website, you consent to Google processing data about you in the manner and for the purposes set out above.</p>

  </div>

  <div class = "details-wrapper">
  <h2 class="h2-title">
  <strong>3.Privacy Policy</strong>
  </h2>
  
  <p>We have appropriate technical and security measures in place to prevent unauthorized or unlawful access or loss or destruction or damage 
  to your information. When we collect data on the website, we collect your personal details on a secure server. We recommend that you do not 
  give your payment details to anyone by email, we are not responsible for any loss you may incur in exchanging your information over the internet or email.</p>

  <p>You absolutely do not use any program, tool or other form to interfere with the system or change the data structure. It is strictly forbidden to distribute, 
  propagate or encourage any activities to interfere, destroy or infiltrate the data of the website system. Any violation will be stripped of all rights and will 
  be prosecuted before the law if necessary.</p>

  <p>All transaction information will be kept confidential but in case of request by law enforcement, we will be forced to provide this information to law enforcement agencies.</p>

  <p>The terms, conditions and content of this website are governed by the laws of Vietnam and reviewed by the courts of Vietnam.</p>

  </div>

  
  <div class = "details-wrapper">
  <h2 class="h2-title">
  <strong>4.Customer Benefits</strong>
  </h2>

  <p>You have the right to request access to your personal data, and to ask us to correct errors in your data at no cost. You have the right at any time to ask us to stop using your 
  personal data for marketing purposes.</p>

  <p>Currently, the shopping needs of the brothers are increasing, the access to websites to buy and sell online as well as electronic websites is quite a lot. Therefore, <strong>Electro Store</strong> wants to send you this article so that you can better understand the privacy policy of <strong>Electro Store</strong> 
  and you should also look for it. understand because it's you who are protecting yourself.&nbsp;</p>

  <p>Currently,<strong>Electro Store</strong> provides an omnichannel sales management software that helps store owners and sellers manage their sales activities throughout. Orders from websites, Facebook, e-commerce platforms will be transferred to Electro Store's sales software and then select a shipping company to deliver to customers. That is why <strong>Electro Store</strong> 
  is currently the choice of many smartphone shops across the country.</p>

  <p>So what are you waiting for without quickly contacting us to get your desired smartphone product right away? Grab your chance to grab a state-of-the-art device with latest features!!! <strong>Electro Store</strong> we're glad you read it for us.</p>
  </div>


 </div>
</div>
 
{% endblock %}
